[% DEFAULT
    step = 0
    data = [
        ['30', '45', '60'],
        ['1/2', '2^(1/2)/2', '3^(1/2)/2'],
        ['1/30*2^(1/2)-1/30', '1/30*3^(1/2)-1/30*2^(1/2)'],
        ['1/900*3^(1/2)-1/450*2^(1/2)+1/900'],
    ]
    Xs = ['30', '45', '60']
    Ys = ['1/2', '2^(1/2)/2', '3^(1/2)/2']
    poly = ''
    simple_poly = ''
    test_res = ''
    msg = ''
%]
<html>
<head>
<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=gb2312">
<title>差商及牛顿插值多项式的 CGI 演示</title>
</head>
<style>
<!--
table { border-collapse: collapse; }
tr.even { background: #e7f7e2; }
td, th { padding: 0.25ex 1em; border: solid; border: none; }
.date { font-size: small; }
tr.math, td.math {font-family:"Estrangelo Edessa"; font-size:17}
-->
</style>
<body>
<center><img src="/logo2.png"></center>
<hr>
<br>
<form id=fr1 action="/eval" method=post>
<center>
<table bgcolor=white border=1 width=60%>
<tr>
<td class=math align=center><font size=3>x</font></td>
<td width=40%><input type=text name=x size=40% value="[% Xs.join(' ') %]"></td>
</tr>
<tr>
<td class=math align=center><font size=3>f(x)</font></td>
<td width=40%><input type=text name=y size=40% value="[% Ys.join(' ') %]"></td>
</tr>
</table>
<table width=50%>
<tr>
<br>
<td width=40%>&nbsp;&nbsp;</td>
<td align=center>
<input type=submit name=btn value=Evaluate>
</td>
</tr>
</table>
</center>
</form>
[% IF step AND data %]
<center>
<table bgcolor="#eff7e9">
    <tr class=math>
        <td align=center> k </td>
        <td align=center> f<sub>k</sub> </td>
        <td align=center> <span style='font-family:宋体'>△</span>
			f<sub>k</sub> </td>
  [%- i = 1 %]
  [%- WHILE (i < data.size - 1) %]
        <td align=center>
		△<sup><font size=-1>[% i %]</font></sup>
			f<sub>k</sub>
    [%- i = i + 1 -%]
  [%- END -%]
        </font>
    </tr>
	<tr><td><font size=-1>&nbsp;</font></td></tr>

  [%- i = 0 %]
  [%- WHILE (i < data.0.size) %]
    <tr>
      <td> [% i %] </td>
    [%- j = 0 %]
    [%- WHILE (j < data.size) %]
       <td> [% data.$j.$i %] </td>
       [%- j = j + 1 %]
    [%- END %]
    </tr>
    [%- i = i + 1 %]
  [%- END %]
</table>
</center>
[%- END %]
[% IF poly %]
<br>
<hr>
<br>
<B><font color="red">&nbsp;牛顿前插公式:</font></B><p>
&nbsp;&nbsp;[% poly %]
[% END %]

[% IF simple_poly %]
<br>
<br>
<hr>
<br>
<B><font color="red">&nbsp;换元并化简后的牛顿前插公式:</font></B><p>
&nbsp;&nbsp;[% simple_poly %]<br>
[% END %]

  [%- IF test_res %]
<br>
<hr>
<br>
<B><font color="red">&nbsp;回代测试:</font></B>&nbsp;&nbsp;&nbsp;&nbsp;<I>
    [%- IF test_res == 'pass' %]
<B><font color=green>
    [%- ELSE %]
<font color=red>
    [%- END %]
  [% test_res %]
</font></B>
</I><br>
  [%- END %]

[%- IF msg %]
<br>
<hr>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<B><font color="red">[% msg %]</font></B>
[%- END %]

</body>
</html>
