[% USE Perl -%]
log(100) = [% Perl.log(100) %]
sprintf("%.0f", 7.8) = [% Perl.sprintf("%.0f", 7.8) %]
pow(2, 3) = [% Perl.pow(2, 3) %]
exp(1) = [% Perl.exp(1) %]
2**3 = [% Perl.eval('2**3') %]
sin(3.14) = [% Perl.sin(3.14) %]
cos(0) = [% Perl.cos(0) %]
join(',', 'a', 'b', 'c') = [% Perl.join(',', 'a', 'b', 'c') %]
join(',', 'a', 'b', 'c') = [% list = ['a','b','c']; 
                              Perl.join(',' list) %]
[% ttfiles = Perl.glob("t/*.tt") -%]
[% ttfiles.sort.join(" ") %]
