<&| /_elements/wrapper, title => 'Qooqle Search' &>

<center>
  <br/>
  <br/>
  <img src="images/logo.png" alt="Qooqle">
  <br/>
  <br/>

  <%init>
  my $search = Jifty->web->new_action(
        class             => 'Search',
        moniker           => 'search',
        sticky_on_success => 1,
  );
  </%init>

% my $form = Jifty->web->form;
  <% $form->start() %>
  <% $form->next_page( url => '/results' ) %>
  <table class="search">
    <tr>
      <td class="headline">
          A Google-like search engine for QQ Databases
      </td>
    </tr>
    <tr>
      <td>
        <% $search->form_field('keys', length => 65) %>
	  </td>
    </tr>
    <tr>
      <td> 
        <% $form->submit( label => 'Qooqle Search' ) %>
	  </td>
    </tr>
  </table>
  <% $form->end() %>
</center>

</&>
