body {
    font-family: arial, sans-serif, »ªÎÄÏ¸ºÚ;
    background: #fff;
    color: #000;
    margin: 10px;
}

div#jifty-wait-message {
    color: white !important;
    background: red !important;
    font-size: 18px !important;
    float: right;
}

div.copyright {
    text-align: center;
    font-size: small;
    color: #333;
    margin-top: 1in;
}
