body {
    font-family: arial, sans-serif, »ªÎÄÏ¸ºÚ;
    background: #fff;
    color: #000;
    margin: 10px;
}

div#jifty-wait-message {
    color: white;
    background: red;
    font-size: 18px;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 42;
}

div.copyright {
    text-align: center;
    font-size: small;
    color: #333;
    margin-top: 1in;
}
