[% DEFAULT
    step_id = 0
    ast = {
        'sun' => ['P("abc");<br>', 'V("abc");<br>']
        'daughter' => ['P("abc");<br>', 'V("abc");<br>']
    }
    focuses = {
        'sun' => 0,
        'daughter' => 2
    }
    active = 'sun'
    step_count = 120
%]
<html>
<head>
<title>
Perl Multi-thread Debugger
</title>
</head>
<body>
<img src="/logo.png">
<br>
<hr>
<br>
<table width=100%>
<tr>
<td align=left width=65%>
[% IF step_id > 1 %]
<form action="/step[% step_id - 2 %]" method=post id=fr3>
<input type=submit name=next value="Step Back">
</form>
[% END %]
</td>
<td align="left">
<form action="/" method=post id=fr1>
<input type=submit name=restart value=" Restart ">
</form>
</td>
<td>
[% IF step_id <= step_count - 1 %]
<form action="/step[% step_id %]" method=post id=fr2>
<input type=submit name=next value="Step Over">
</form>
[% END %]
</td>
</tr>
</table>
<table width=100% border=1>
[%- i = 1 %]
[%- FOREACH key = focuses.keys %]
    [%- color = (active == key) ? "red" : "blue" %]
    [%- IF i % 2 == 1 %]
<tr>
    [%- END %]
<td>
    [%- name = key %]
    [%- name = name.replace('\[\d+\]$', "") %]
    <br>
    <B><center><font color="[% color %]">[% name %]</font></center></B>
    <br>
    [%- lines = ast.$name -%]
    [%- j = 0 -%]
    [%- FOREACH line = lines -%]
        [%- IF focuses.$key.defined AND focuses.$key == j -%]
            <font name="Courier New" color="[% color %]" size=-1>[% line %]</font>

        [%- ELSE %]
            <font name="Courier New" size=-1>[%- line %]</font>

        [%- END %]
        [%- j = j + 1 %]
    [%- END %]
</td>
    [%- IF i % 2 == 0 %]
</tr>
    [%- END %]
    [%- i = i + 1 %]
[% END %]
</table>
</body>
</html>