[% USE list = datafile('J.csv', delim = ',') -%]

drop table J

create table
    J
    (JNO char(4) primary key,
     JNAME char(8),
     CITY char(6))

[% FOREACH list -%]
insert into J values('[% JNO %]','[% JNAME %]','[% CITY %]')

[% END -%]
