[% DEFAULT
    query = 'idu 反汇编器 状态机 Salent'
    hits = [
      {
        time => 'Thu Nov 25 18:03:56 2004'
        session => '1101377036',
        sender => '仲伟祥',
        receiver => '章亦春',
        message => '收到没有？'
      }
      {
        time => 'Fri Sep  2 19:32:02 2005',
        session => '1125660722',
        sender => '程辰',
        receiver => '章亦春',
        message => "But such queries require us to know the exact QQ id of both us. So a more friendly one may be:\n" _
                   "select count(*) Total2\n" _
                   "from msgs, users as U1, users as U2\n" _
                   "where msg_from=U1.user_id and\n" _
                   " msg_to=U2.user_id and\n" _
                   " U1.user_name='章亦春' and\n" _
                   " U2.user_name='仲伟祥' \n"
      }
    ]
%]
<html>
<head>
<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=gb2312">
<title>[% query %] - Qooqle Search</title>
<style>
<!--
body,td,div,.p,a{font-family:arial,sans-serif,华文细黑 }
div,td{color:#000}
.f,.fl:link{color:#6f6f6f}
a:link,.w,a.w:link,.w a:link{color:#00c}
a:visited,.fl:visited{color:#551a8b}
a:active,.fl:active{color:#f00}
.t a:link,.t a:active,.t a:visited,.t{color:#000}
.t{background-color:#e5ecf9}
.k{background-color:#36c}
.j{width:34em}
.h{color:#36c}
.i,.i:link{color:#a90a08}
.a,.a:link{color:#008000}
.z{display:none}
div.n {margin-top: 1ex}
.n a{font-size:10pt; color:#000}
.n .i{font-size:10pt; font-weight:bold}
.q a:visited,.q a:link,.q a:active,.q {color: #00c; }
.b{font-size: 12pt; color:#00c; font-weight:bold}
.ch{cursor:pointer;cursor:hand}
h3{font-weight:normal;font-size=100%}
.sem{display:inline;margin:0;font-size:100%;font-weight:inherit}
.e{margin-top: .75em; margin-bottom: .75em}
.g{margin-top: 1em; margin-bottom: 1em}
.sm{display:block; margin-top: 0px; margin-bottom: 0px; margin-left: 40px}
//-->
</style>
</head>
<body bgcolor=#ffffff topmargin=3 marginheight=3>
<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr>
<form name=gs method=POST action="/"><td valign=top>
<a href="/"><img src="images/logo_sm.png" width=150 height=55 alt="Go to Qooqle Home" border=0 vspace=12></a>
</td>
<td>&nbsp;&nbsp;</td>
<td valign=top width=100%>
<table cellpadding=0 cellspacing=0 border=0><tr><td height=14 valign=bottom>
<table border=0 cellpadding=4 cellspacing=0><tr><td class=q><b>
		<font size="-1" face="Arial" color="#0000FF">This is a Google-like 
	search engine 
		for qqBase</font></b></td></tr></table></td></tr><tr><td><table border=0 cellpadding=0 cellspacing=0><tr><td nowrap>
		<input type=text name=query size=41 maxlength=2048 title="Search" value="[% query %]"><font size=-1>
        <input type=submit name="btnG" value="Search"><span id=hf></span></font></td><td nowrap>
        <font size=-2>&nbsp;&nbsp;&nbsp;</font></td></tr></table></td></tr></table>
        <table cellpadding=0 cellspacing=0 border=0><tr><td><font size=-1></font></td></tr><tr><td height=7>
        <img width=1 height=1 alt=""></td></tr></table></td></form></tr></table>
<style><!--
.fl:link{color:#7777CC}
-->
</style>
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td bgcolor=#3366cc><img width=1 height=1 alt=""></td>
</tr>
</table>
<table width=100% border=0 cellpadding=0 cellspacing=0 bgcolor=#e5ecf9>
<tr>

<td bgcolor=#e5ecf9 width=1% nowrap>
<font size=+1>&nbsp;<b>QQ Database</b></font>&nbsp;</td>
<td bgcolor=#e5ecf9 align=right nowrap>

[%- IF hits.size %]

<font size=-1>Results <b>1</b> - <b>[% hits.size %]</b> of <b>[% hits.size %]</b> for <b><b>[% query %]</b>
</b>.  </font></td></tr></table><div>

<form name=f2 action="/join" method="post" target="_blank">
  [%- FOREACH r = hits %]
    [%- message = r.message %]
<p class=g>
<table>
<tr>
<td><input type="checkbox" name="session" value="[% r.session %]" checked></td>
<td><a href="/display?session=[% r.session %]" target="_blank"><b>[% r.time %]</b> [% r.sender %] vs. [% r.receiver %]</a><br>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
<font size=-1>
      [% r.message %]
</font>
<br>
<td>
</tr>
</table>
  [% END %]
<table>
<tr>
<td/>
<td align=center>
<br>
<input type=submit value="Join Sessions" name=join>
</td>
</tr>
</table>
</form>

[%- ELSE %]
<font size=-1>No results found for <b>[% query %]</b>.  </font></td></tr></table><div>

<p>
No QQ sessions containing all your search terms were found. <br>
<br>
Your search - <b>&quot;[% query %]&quot;</b> - did not match any QQ conversations. <br>
<br>
Suggestions: </p>
<blockquote>
	- Make sure all words are spelled correctly.<br>
	- Try different keywords.<br>
	- Try more general keywords.</blockquote>
<font size=-1><center><p>
<b><font size="2">

[%- END %]

	<center><br>&nbsp;<p>
<b><font size="2">Copyright &copy; 2005 Agent Zhang</font></b></p>
	</center>
</body></html>
